---
import Team from "../team";
import Layout from "../../layouts/Layout.astro";
import Avatars from "./Avatars"
import { TeamData } from "../../config/team";
---

<Layout
  title="Team - RcGEI | Rotaract Galgotias Website"
  description="Rotaract Galgotias follows a hierarchical system where the college year determines the roles and responsibilities of its members. The core council comprises final year students, while directors are selected from the third year students. Second year students, on the other hand, actively contribute as coordinators."
  ogImage="/og.png"
>
  <main class="flex min-h-screen flex-col items-center gap-10 py-5 xl:px-24">
    <div class={"container grid grid-cols-12 gap-8"}>
      <div
        class={"col-span-12 lg:col-span-4 flex flex-col gap-4 justify-between"}
      >
        <h1
          class={"font-outfit text-4xl font-extrabold text-slate-800 lg:text-6xl"}
        >
          Team 2024-25
        </h1>
        <p class={"font-dmSans text-sm text-slate-600 md:text-lg text-justify"}>
          Rotaract Galgotias follows a hierarchical system where the college
          year determines the roles and responsibilities of its members. The
          core council comprises final year students, while directors are
          selected from the third year students. Second year students, on the
          other hand, actively contribute as coordinators.
        </p>
        <div class="flex flex-col gap-3">
          <h3
            class="font-outfit text-lg font-semibold text-slate-800 lg:text-xl"
          >
            Team Hierarchy
          </h3>

          <a
            href="#council"
            class={"grid w-full cursor-pointer grid-cols-5 rounded-lg border-2 border-slate-200 p-4 hover:border-slate-400"}
          >
            <div
              class={"col-span-full flex flex-row justify-between items-center"}
            >
              <h1 class={"font-dmSans text-lg font-bold text-slate-800"}>
                Board Council
              </h1>
              <Avatars group="Board Council" client:visible/>
            </div>
          </a>

          <a
            href="#directors"
            class={"grid w-full cursor-pointer grid-cols-5 rounded-lg border-2 border-slate-200 p-4 hover:border-slate-400"}
          >
            <div
              class={"col-span-full flex flex-row items-center justify-between"}
            >
              <h1 class={"font-dmSans text-lg font-bold text-slate-800"}>
                Board of Directors
              </h1>
              <div class="flex -space-x-4">
                <Avatars group="Board of Directors" client:visible/>
                
                
                <span
                  class="flex items-center justify-center w-10 h-10 text-xs font-medium text-white bg-gray-700 border-2 border-white rounded-full hover:bg-gray-600"
                  >+{TeamData.filter((i) => i.name === "Board of Directors")
        .flatMap((i) => i.subGroups.flatMap((j) => j.members).length -7)}</span
                >
              </div>
            </div>
          </a>
 
        </div>
      </div>
      <div class={"col-span-12 lg:col-span-8"}>
        <img
          alt="Intallation Image 2022-23"
          src="/team_23-24.jpg"
          class="w-full rounded-lg shadow-lg"
        />
      </div>
    </div>
    <Team client:visible />
  </main>
</Layout>
