---
import Layout from "../layouts/Layout.astro";

import { HeroSlider } from "../components/hero-slider";
import { RiArrowRightSLine } from "react-icons/ri";

const sliderImages = [
  {
    image: "/cover/chav.JPG",
    id: "1",
    alt: "",
  },
  {
    image: "/cover/fellowship.jpg",
    id: "2",
    alt: "",
  },
  {
    image: "/cover/fight-hunger.JPG",
    id: "3",
    alt: "",
  },
  {
    image: "/cover/flood-relief.JPG",
    id: "4",
    alt: "",
  },
];

const eventsImages = [
  {
    image: "/cover/sapno-ki-pathshala.jpg",
    id: "1",
    alt: "",
  },
  {
    image: "/cover/seva-sahyog.JPG",
    id: "2",
    alt: "",
  },
  {
    image: "/cover/swaraj.jpg",
    id: "3",
    alt: "",
  },
];
---

<Layout
  title="RC GEI | Rotaract Galgotias Website"
  description="At Rotaract Galgotias, we function as a service-oriented organization that strives to create a better world through volunteerism, community service, and professional development. We are a part of the global network of Rotaract clubs sponsored by Rotary International, which gives us access to a wealth of resources and opportunities for growth."
  ogImage="/og.png"
>
  <main class="flex min-h-screen flex-col items-center gap-10 py-5 xl:px-24">

    <div class={"container grid grid-cols-12 gap-5"}>
      <div class={"lg:hidden col-span-full block"}>
          <!--<HeroSlider sliderImages={sliderImages} client:only="react" />-->
          <iframe class="w-full h-72 rounded-lg border-2 border-gray-300 shadow" src="https://www.youtube.com/embed/17tnMlHMcYo" title="&quot;Rotaract Club of Galgotias Educational Institutions: Impacting Lives Through Service&quot;" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
      <div class={"col-span-12 flex flex-col gap-4 lg:gap-8 lg:col-span-6 xl:pr-5"}>
        <h1
          class={"font-outfit text-3xl font-extrabold text-slate-800 lg:text-6xl"}
        >
          Committed to making a positive impact in our community.
        </h1>
        <p class={"font-dmSans text-xl/relaxed text-slate-600 md:text-lg md:w-3/4"}>
          At Rotaract Galgotias, we function as a service-oriented organization
          that strives to create a better world through volunteerism, community
          service, and professional development.
        </p>
        <div class={"flex gap-4"}>
          <button
            class={"rounded-md bg-slate-700 px-4 py-2 font-dmSans text-sm font-bold text-white transition-all duration-200 hover:bg-rose-500 md:text-lg"}
          >
          <a href="/join">
            Join Now
          </a>
          </button>
          <button
            class={"rounded-md bg-slate-100 px-4 py-2 font-dmSans text-lg font-bold text-slate-800"}
          ><a href={"/about"}>
            Know More
          </a>
          </button>
        </div>
      </div>
      <div class={"col-span-12 hidden lg:col-span-6 lg:block"}>
        <!--<HeroSlider sliderImages={sliderImages} client:only="react" />-->
          <iframe class="w-full h-full rounded-lg border-2 border-gray-300 shadow" src="https://www.youtube.com/embed/17tnMlHMcYo" title="&quot;Rotaract Club of Galgotias Educational Institutions: Impacting Lives Through Service&quot;" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
    </div>

    <div class={"container flex flex-col"}>
      <hr class={"my-4 h-px w-full border-0 bg-gray-200 dark:bg-gray-700"} />
      <div
        class={"flex flex-row flex-wrap items-center justify-center gap-4 lg:justify-between"}
      ><a href="https://www.rotary.org/en">
        <img
          height={100}
          width={170}
          title={"Rotary International"}
          alt={"Rotary International"}
          src={"/logos/rotary.png"}
          class={""}
        />
      </a>
      <a href="https://www.rotary.org/en/get-involved/rotaract-clubs">
        <img
        height={120}
        width={230}
        title={"Rotaract"}
        alt={"Rotaract"}
        src={"/logos/rotaract.png"}
        class={""}
        />
      </a>
      
        <img
          height={120}
          width={145}
          title={"Rotary Theme"}
          alt={"Rotary Theme"}
          src={"/logos/rotary-creating-hope.png"}
          class={""}
        />
        <img
          height={90}
          width={90}
          title={"Galgotias Educational Institutions"}
          alt={"Galgotias Educational Institutions"}
          src={"/logos/galgotia.png"}
          class={""}
        />
      </div>
      <hr class={"my-4 h-px w-full border-0 bg-gray-200 dark:bg-gray-700"} />
    </div>

    <div
      id={"about"}
      class={"container grid grid-cols-12 gap-y-10 lg:gap-x-10"}
    >
      <div class={"col-span-12 lg:col-span-6"}>
        <img
          title={"Rotaract Galgotias"}
          alt={"Rotaract Galgotias"}
          src={"/about_image.jpg"}
          class={"h-full w-auto rounded-lg object-cover"}
        />
      </div>
      <div
        class={"col-span-12 flex flex-col items-start gap-3 lg:col-span-6"}
      >
        <h1
          class={"font-outfit text-3xl font-extrabold text-slate-800 lg:text-5xl"}
        >
          About Us
        </h1>
        <p class={"text-justify font-dmSans text-xl/relaxed text-slate-600 md:text-lg text-justify"}>
          We are the Rotaract Club of Galgotias Educational Institutions,
          dedicated to creating positive change in our community through
          volunteerism, community service, and professional development. Join us
          to empower young professionals, promote peace, eradicate poverty,
          support education, improve health, protect the environment, develop
          leadership skills, and make a tangible impact.
        </p>
        <ul class={"flex list-disc flex-col gap-2 "}>
          <li
            class={"text-justify font-dmSans text-sm text-slate-600 md:text-lg"}
          >
            Engaged in volunteerism, community service, and professional
            development.
          </li>
          <li
            class={"text-justify font-dmSans text-sm text-slate-600 md:text-lg"}
          >
            Focus on empowering young professionals, promoting peace,
            eradicating poverty, supporting education, improving health, and
            protecting the environment.
          </li>
          <li
            class={"text-justify font-dmSans text-sm text-slate-600 md:text-lg"}
          >
            Opportunities to develop leadership skills and make a tangible
            impact.
          </li>
        </ul>
        <a
          href={"/about"}
          class={"text-sm text-rose-500 hover:underline flex flex-row items-center w-fit"}
        >
          <span class="pb-1">Know More About Us</span>

          <RiArrowRightSLine client:only="react" className={"inline-block"} />
        </a>
      </div>
    </div>

    <hr
      class={"container my-4 h-px w-full border-0 bg-gray-200 dark:bg-gray-700"}
    />
    <div
      id={"events"}
      class={"container grid grid-cols-12  gap-y-10 lg:gap-x-10"}
    >
      <div
        class={"col-span-12 flex flex-col items-start justify-between gap-3 lg:col-span-6"}
      >
        <h1
          class={"font-outfit text-3xl font-extrabold text-slate-800 lg:text-5xl"}
        >
          Our Events
        </h1>
        <p class={"text-justify font-dmSans text-sm text-slate-600 md:text-lg"}>
          We do events which not only bring the community together but also
          strive to create a lasting impact. From fundraising initiatives to
          awareness campaigns, our events aim to inspire change, foster
          collaboration, and address pressing social issues. We believe in the
          power of collective action and the potential of each individual to
          make a difference. Join us in our events and be a part of the positive
          transformation we seek to create in our society.
        </p>
        <div class={"grid w-full grid-cols-12 gap-4"}>
          <div
            class={"col-span-12 grid w-full cursor-pointer grid-cols-5 rounded-lg border-2 border-slate-200 py-4 px-2 hover:border-slate-400 md:col-span-6"}
          >
            <div class={"col-span-full md:col-span-1"}>
              <img
                height={30}
                width={30}
                src={"/icons/star_struck-emoji.svg"}
                alt={"Star Struck Emoji"}
                class={"md:mx-auto"}
              />
            </div>
            <div class={"col-span-full md:col-span-4"}>
              <h1 class={"font-dmSans text-lg font-bold text-slate-800"}>
                View All Events
              </h1>
              <p class={"font-dmSans text-sm text-slate-600"}>
                We organize a variety of events throughout the year. Check out
                our calendar to see what&apos;s coming up next.
              </p>
              <a
                href={"/events"}
                class={"text-sm text-rose-500 hover:underline flex flex-row items-center w-fit"}
              >
                <span class="pb-1">All Events</span>

                <RiArrowRightSLine client:only="react" className={"inline-block"} />
              </a>
            </div>
          </div>
          
          
          <div
            class={"col-span-12 grid w-full cursor-pointer grid-cols-5 rounded-lg border-2 border-slate-200 py-4 px-2 hover:border-slate-400 md:col-span-6"}
          >
            <div class={"col-span-full md:col-span-1"}>
              <img
                height={32}
                width={32}
                src={"/icons/think.png"}
                alt={"Think"}
                class={"md:mx-auto"}
              />
            </div>
            <div class={"col-span-full md:col-span-4"}>
              <h1 class={"font-dmSans text-lg font-bold text-slate-800"}>
                Suggest an Event
              </h1>
              <p class={"font-dmSans text-sm text-slate-600"}>
                We are always open to new ideas and suggestions. If you have an
                idea for an event, please let us know.
              </p>
              <a
                href={"https://wa.me/+919264910794?text=Hello,%20I%20want%20to%20discuss%20an%20event%20for%20Rotaract%20Galgotias"}
                class={"text-sm text-rose-500 hover:underline flex flex-row items-center "}
              >
                <span class="pb-1">Contact us</span>
                <RiArrowRightSLine client:only="react" className={"inline-block"} />
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class={"col-span-12 lg:col-span-6"}>
        <HeroSlider sliderImages={eventsImages} client:only="react" />
      </div>
    </div>
    <hr
      class={"container my-4 h-px w-full border-0 bg-gray-200 dark:bg-gray-700"}
    />
    <div id={"team"} class={"container grid grid-cols-12 gap-y-10 lg:gap-x-10"}>
      <h1
        class={"col-span-full mx-auto w-fit font-outfit text-3xl font-extrabold text-slate-800 lg:text-5xl"}
      >
        Board Council 2023-24
      </h1>
      <div class={"col-span-full"}>
        <div class={"grid grid-cols-6 gap-5"}>
          <div
            class={"col-span-3 flex flex-col items-center justify-center gap-3 md:col-span-2 lg:col-span-1"}
          >
            <!-- <img
              src={"/team/Ashish Kumar Gupta.jpg"}
              alt={"Ashish"}
              height={300}
              width={300}
              class={"rounded-full"}
            /> -->
            <div class="relative group w-300 cursor-pointer">
              <div
                  class="absolute -inset-1 bg-gradient-to-r from-yellow-600 to-blue-600 rounded-full blur opacity-25 group-hover:opacity-100 transition duration-1000 group-hover:duration-200">
              </div>
              <div
                  class="relative bg-white ring-1 ring-gray-900/5 rounded-full leading-none flex items-top justify-start space-x-6">
                  <div class="space-y-2">
                      <img src="/team/Ashish Kumar Gupta.jpg" class="relative z-300 h-300 w-300 shrink-0 rounded-full object-cover" />
                  </div>
              </div>
            </div> 
          
            <div class={"flex flex-col items-center justify-center"}>
              <span class={"font-dmSans text-sm font-bold"}>
                Rtr. Ashish Kumar Gupta
              </span>
              <span class={"font-dmSans text-xs"}>President</span>
            </div>
          </div>
          <div
            class={"col-span-3 flex flex-col items-center justify-center gap-3 md:col-span-2 lg:col-span-1"}
          >
            <!-- <img
              src={"/team/Unnati Agarwal.jpg"}
              alt={"Unnati"}
              height={300}
              width={300}
              class={"rounded-full"}
            /> -->
            <div class="relative group w-300 cursor-pointer">
              <div
                  class="absolute -inset-1 bg-gradient-to-r from-yellow-600 to-blue-600 rounded-full blur opacity-25 group-hover:opacity-100 transition duration-1000 group-hover:duration-200">
              </div>
              <div
                  class="relative bg-white ring-1 ring-gray-900/5 rounded-full leading-none flex items-top justify-start space-x-6">
                  <div class="space-y-2">
                      <img src="/team/Unnati Agarwal.jpg" class="relative z-300 h-300 w-300 shrink-0 rounded-full object-cover" />
                  </div>
              </div> 
            </div>

            <div class={"flex flex-col items-center justify-center"}>
              <span class={"font-dmSans text-sm font-bold"}>
                Rtr. Unnati Agarwal
              </span>
              <span class={"font-dmSans text-xs"}>Secretary</span>
            </div>
          </div>
          <div
            class={"col-span-3 flex flex-col items-center justify-center gap-3 md:col-span-2 lg:col-span-1"}
          >
            <!-- <img
              src={"/team/Aditya Kumar Ojha.jpg"}
              alt={"Aditya"}
              height={300}
              width={300}
              class={"rounded-full"}
            /> -->
            <div class="relative group w-300 cursor-pointer">
              <div
                  class="absolute -inset-1 bg-gradient-to-r from-yellow-600 to-blue-600 rounded-full blur opacity-25 group-hover:opacity-100 transition duration-1000 group-hover:duration-200">
              </div>
              <div
                  class="relative bg-white ring-1 ring-gray-900/5 rounded-full leading-none flex items-top justify-start space-x-6">
                  <div class="space-y-2">
                      <img src="/team/Aditya Kumar Ojha.jpg" class="relative z-300 h-300 w-300 shrink-0 rounded-full object-cover" />
                  </div>
              </div> 
            </div>

            <div class={"flex flex-col items-center justify-center"}>
              <span class={"font-dmSans text-sm font-bold"}>
                Rtr. Aditya Kumar Ojha
              </span>
              <span class={"font-dmSans text-xs"}>Vice President</span>
            </div>
          </div>
          <div
            class={"col-span-3 flex flex-col items-center justify-center gap-3 md:col-span-2 lg:col-span-1"}
          >
            <!-- <img
              src={"/team/Yashica Chauhan.jpg"}
              alt={"Yashica"}
              height={300}
              width={300}
              class={"rounded-full"}
            /> -->
            <div class="relative group w-300 cursor-pointer">
              <div
                  class="absolute -inset-1 bg-gradient-to-r from-yellow-600 to-blue-600 rounded-full blur opacity-25 group-hover:opacity-100 transition duration-1000 group-hover:duration-200">
              </div>
              <div
                  class="relative bg-white ring-1 ring-gray-900/5 rounded-full leading-none flex items-top justify-start space-x-6">
                  <div class="space-y-2">
                      <img src="/team/Yashica Chauhan.jpg" class="relative z-300 h-300 w-300 shrink-0 rounded-full object-cover" />
                  </div>
              </div> 
            </div>

            <div class={"flex flex-col items-center justify-center"}>
              <span class={"font-dmSans text-sm font-bold"}>
                Rtr. Yashica Chauhan
              </span>
              <span class={"font-dmSans text-xs"}>Joint Secretary</span>
            </div>
          </div>
          <div
            class={"col-span-3 flex flex-col items-center justify-center gap-3 md:col-span-2 lg:col-span-1"}
          >
            <!-- <img
              src={"/team/Indu Banerjee.jpg"}
              alt={"Indu"}
              height={300}
              width={300}
              class={"rounded-full"}
            /> -->
            <div class="relative group w-300 cursor-pointer">
              <div
                  class="absolute -inset-1 bg-gradient-to-r from-yellow-600 to-blue-600 rounded-full blur opacity-25 group-hover:opacity-100 transition duration-1000 group-hover:duration-200">
              </div>
              <div
                  class="relative bg-white ring-1 ring-gray-900/5 rounded-full leading-none flex items-top justify-start space-x-6">
                  <div class="space-y-2">
                      <img src="/team/Indu Banerjee.jpg" class="relative z-300 h-300 w-300 shrink-0 rounded-full object-cover" />
                  </div>
              </div> 
            </div>

            <div class={"flex flex-col items-center justify-center"}>
              <span class={"font-dmSans text-sm font-bold"}>
                Rtr. Indu Banerjee
              </span>
              <span class={"font-dmSans text-xs"}>Treasurer</span>
            </div>
          </div>
          <div
            class={"col-span-3 flex flex-col items-center justify-center gap-3 md:col-span-2 lg:col-span-1"}
          >
            <!-- <img
              src={"/team/Rohit Saini.jpg"}
              alt={"Rohit"}
              height={300}
              width={300}
              class={"rounded-full"}
            /> -->
            <div class="relative group w-300 cursor-pointer">
              <div
                  class="absolute -inset-1 bg-gradient-to-r from-yellow-600 to-blue-600 rounded-full blur opacity-25 group-hover:opacity-100 transition duration-1000 group-hover:duration-200">
              </div>
              <div
                  class="relative bg-white ring-1 ring-gray-900/5 rounded-full leading-none flex items-top justify-start space-x-6">
                  <div class="space-y-2">
                      <img src="/team/Rohit Saini.jpg" class="relative z-300 h-300 w-300 shrink-0 rounded-full object-cover" />
                  </div>
              </div> 
            </div>
            
            <div class={"flex flex-col items-center justify-center"}>
              <span class={"font-dmSans text-sm font-bold"}>
                Rtr. Rohit Saini
              </span>
              <span class={"font-dmSans text-xs"}>Seargent-at-Arms</span>
            </div>
          </div>
        </div>
        <div class={"mx-auto my-8 flex flex-col items-center justify-center"}>
          <div class="flex -space-x-4">
            <img
              height={20}
              width={20}
              class="h-10 w-10 rounded-full border-2 border-white dark:border-gray-800"
              src="/team/Yash%20Gupta.jpg"
              alt=""
            />
            

            <img
              height={20}
              width={20}
              class="h-10 w-10 rounded-full border-2 border-white"
              src="/team/Ankita%20Shukla.jpg"
              alt=""
            />
            <img
              height={20}
              width={20}
              class="h-10 w-10 rounded-full border-2 border-white"
              src="/team/Sanket%20Gupta.jpg"
              alt=""
            />
            <img
              height={20}
              width={20}
              class="h-10 w-10 rounded-full border-2 border-white"
              src="/team/Sahil%20Bhatia.jpg"
              alt=""
            />
            <img
              height={20}
              width={20}
              class="h-10 w-10 rounded-full border-2 border-white"
              src="/team/Areeb%20Ur%20Rub.jpg"
              alt=""
            />
            <img
              height={20}
              width={20}
              class="h-10 w-10 rounded-full border-2 border-white"
              src="/team/Aruhi%20Pallavi.jpg"
              alt=""
            />
            <img
              height={20}
              width={20}
              class="h-10 w-10 rounded-full border-2 border-white"
              src="/team/Anurag%20Kaushik.jpg"
              alt=""
            />
            <img
              height={20}
              width={20}
              class="h-10 w-10 rounded-full border-2 border-white"
              src="/team/Thakur%20Manu%20Chauhan.jpg"
              alt=""
            />
          </div>
          <div class="mt-2 flex -space-x-2">
            <span class="text-sm font-semibold text-rose-500">
              <a
                href="/team"
                class="flex flex-row items-center justify-center hover:underline"
              >
                <span>View Full RcGEI Team</span>
                <RiArrowRightSLine client:only="react" className={"mt-1 text-xl"} />
              </a>
            </span>
          </div>
        </div>
      </div>
    </div>
    <hr
      class={"container -mt-5 mb-4 h-px w-full border-0 bg-gray-200 dark:bg-gray-700"}
    />
  </main>
</Layout>
