---
import Layout from "../../layouts/Layout.astro";
---

<Layout
        title="JOIN Rotaract Galgotias"
        description="At Rotaract Galgotias, we function as a service-oriented organization that strives to create a better world through volunteerism, community service, and professional development. We are a part of the global network of Rotaract clubs sponsored by Rotary International, which gives us access to a wealth of resources and opportunities for growth."
        ogImage="/og.png"
>
    <main class="flex min-h-screen flex-col items-center gap-10 py-5 xl:px-24">
        
    </main>

</Layout>